src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:bti="http://www.mulesoft.org/schema/mule/ee/bti" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/bti http://www.mulesoft.org/schema/mule/ee/bti/current/mule-bti-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fba5dc01-8fd8-4b98-a38e-83cdff7d9db2" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<bti:transaction-manager doc:name="Bitronix Transaction Manager" doc:id="afb2db04-0f24-4207-b892-b321ef40e427" />
	<configuration-properties doc:name="Configuration properties" doc:id="1a107e00-9cf7-4757-92c4-bdc665c0bde6" file="configuration.yaml" />
	<flow name="testFlow" doc:id="2834d656-cb59-4eb7-8b22-fd4b94658897" >
		<http:listener doc:name="Listener" doc:id="e749f9d3-ef0c-4e0a-8756-4cee333527e9" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="79d4e566-3869-4ca9-b1fa-ee78b3df5c81" />
		<set-payload value='#["test working"]' doc:name="Set Payload" doc:id="3f284be4-b32a-4a16-a42d-fa830db29f92" />
	</flow>
</mule>
